.community-box {
  color: var(--brown);
  font-size: 1.2em;
  padding: 2em 0 1em 0;
  max-width: 60ch;
  margin: 0 auto 2em auto;
}

.community-box p {
  line-height: 1.5em;
  margin: 0.5em auto;
}

.logo {
  height: 7em;
  width: 7em;
  margin: 1em auto;
  display: block;
  text-align: center;
}

.community-link {
  text-decoration: none;
  padding: 1em;
  display: block;
  border: 3px solid var(--charcoal);
  color: #fff;
  width: auto;
  margin: 1.5em auto 0.5em auto;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  transition: 200ms;
}

  .community-link:hover {
    border-left: 10px solid var(--charcoal);
    padding: 1em 1.5em;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.3);
    transition: 200ms;
  }

.discord { background-color: #738ADB; }
.highpointers { background-color: var(--glacier); color: var(--charcoal); }
.facebook { background-color: #1778F2; }
.reddit { background-color: #FF4500; }
.github { background-color: #211F1F; }

/* Mobile */
@media only screen and (max-width: 700px) {
  .community-box {
    font-size: 1em;
    margin: 0 5% 2em 5%;
  }
}
