.grid-container {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  margin: 1em auto;
  width: 80%;
  max-width: 1600px;
}

.state {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 3px solid var(--charcoal);
  border-radius: 8px;
  transition: 250ms;
}
  .state:after {
    content: "";
    height: 0;
    padding-top: 100%;
    width: 1px;
  }
  .state:hover {
    background-color: var(--sky);
    color: var(--brown);
    font-size: 1.8em;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.3);
    transition: 250ms;
  }

.state-link {
  text-decoration: none;
  color: inherit;
}

.me { grid-column-start: 12; }
.vt { grid-column-start: 11; }
.wa, .or, .ca { grid-column-start: 2; }
.az { grid-column-start: 3; }
.ok, .tx { grid-column-start: 5; }
.hi { grid-column-start: 1; }
.fl { grid-column-start: 9; }

.ak,
.wa,
.or,
.wy,
.mt {
  color: var(--charcoal);
  background-color: var(--glacier);
  border-radius: 8px;
}

.me,
.vt,
.nh,
.ny,
.wv,
.ky,
.tn,
.nc,
.sc,
.ca,
.nv,
.id,
.co,
.ut,
.az,
.nm,
.hi,
.tx {
  color: #fff;
  background-color: var(--mountain);
  border-radius: 8px;
}

.nd,
.mn,
.wi,
.mi,
.ma,
.ct,
.sd,
.oh,
.pa,
.nj,
.mo,
.va,
.md,
.ar,
.ok,
.la,
.ms,
.al,
.ga {
  color: #fff;
  background-color: var(--hill);
  border-radius: 8px;
}

.ia,
.il,
.ii,
.ri,
.ne,
.de,
.ks,
.fl {
  color: var(--charcoal);
  background-color: var(--field);
  border-radius: 8px;
}

/* Mobile */
@media only screen and (max-width: 700px) {
  .grid-container {
    grid-gap: 2px;
    width: 90%;
  }
  .state {
    font-size: 0.9em;
    border: 0;
    border-radius: 0;
    box-shadow: 0;
  }
    .state:hover {
      font-size: 1em;
      border-radius: 8px;
    }
}
