/* Title */
.guide-titlehead {
  width: 100%;
  background-image: url('../images/topo.jpg');
  background-repeat: repeat;
  box-shadow:inset 0 0 0 2000px rgba(59, 118, 57, 0.2);
  text-align: center;
  padding: 4em 0 2em 0;
}

.guide-title {
  font-family: Explore, sans-serif;
  font-size: 3em;
  text-align: center;
}

.guide-state {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 1.2em;
}

/* Guide Page Template */
.guide-page {
  width: 80%;
  margin: 1em 10%;
}

/* Masthead */
.guide-masthead {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 0px;
  margin: 3em auto 2em auto;
}

.masthead-image {
  width: 100%;
  height: 25em;
  overflow: hidden;
}

/* Metadata */
.guide-metadata {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.metadata-cell {
  padding-bottom: 1.5em;
}

.cell-name {
  text-transform: uppercase;
  font-size: 0.9em;
  color: #999;
  display: inline-block;
  padding: 0.2em;
}

.cell-data {
  font-size: 1.1em;
  padding: 0.1em;
}

/* Body */
.guide-body {
  margin: 0 auto;
  font-size: 1.2em;
  max-width: 60ch;
}

.guide-disclaimer {
  padding: 1em;
  background-color: var(--glacier);
  text-align: center;
  margin: 1em auto;
}

.guide-body p {
  display: block;
  padding: 0.5em 0;
  line-height: 1.5em;
}

.guide-body h2, .guide-footer h2 {
  font-size: 1.5em;
  margin: 1em 0 0.5em 0;
  padding: 0.1em 0.5em;
  background-color: var(--brown);
  color: #fff;
  display: inline-block;
}

.guide-body h3 {
  font-size: 1.2em;
  margin: 1em 0 0.5em 0;
  padding: 0.1em 0.5em;
  background-color: var(--brown);
  color: #fff;
  display: inline-block;
}

.guide-body ul { list-style-type: square; }

.guide-body li { margin: 0.7em 0; }

.guide-body a {
  text-decoration: none;
  color: var(--hill);
  font-weight: bold;
  border-bottom: 3px solid var(--hill);
  transition: 100ms;
}
  .guide-body a:hover {
    border-bottom: none;
    transition: 100ms;
  }

/* Footer */
.guide-footer {
  margin: 0 auto 5em auto;
  font-size: 1.2em;
  max-width: 60ch;
}

.guide-footer-link {
  text-decoration: none;
  padding: 1em;
  display: block;
  border: 4px solid var(--brown);
  color: var(--brown);
  width: auto;
  margin: 1em auto;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
  transition: 200ms;
}

  .guide-footer-link:hover {
    border-left: 10px solid var(--brown);
    padding: 1em 1.5em;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.3);
    transition: 200ms;
  }

.wiki { background-color: var(--glacier); }
.sump { background-color: var(--mountain); color: #fff; }
.pbag { background-color: var(--hill); color: #fff; }
.offi { background-color: var(--field); }
.weat { background-color: var(--sky); }

/* Mobile */
@media only screen and (max-width: 700px) {
  .guide-masthead {
    display: block;
    margin: 1em auto 0 auto;
  }
  .masthead-image { overflow: visible; }
  .cell-name { font-size: 0.8em; }
  .cell-data { font-size: 1em; }
  .guide-body, .guide-footer { font-size: 1em; }
  .guide-body h2, .guide-footer h2 { font-size: 1.2em; }
}
