.home-what, .home-how {
  color: var(--charcoal);
  font-size: 1.2em;
  font-weight: bold;
  padding: 2.5em 5%;
  max-width: 60ch;
  margin: auto;
}

.home-what {
  background-color: var(--glacier);
  margin-top: 1em;
  border: 3px solid var(--charcoal);
  border-radius: 10px;
}

.home-heading {
  font-size: 1.8em;
  line-height: 2em;
}

.home-what p, .home-how p {
  font-weight: normal;
  line-height: 1.4em;
  padding: 0.5em 0;
  margin: 0;
}

.home-what a, .home-how a {
  text-decoration: none;
  color: var(--hill);
  font-weight: bold;
  border-bottom: 2px solid var(--hill);
  transition: 100ms;
}
  .home-what a:hover, .home-how a:hover {
    border-bottom: none;
    transition: 100ms;
  }

.how-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1.5em;
  grid-row-gap: 0px;
  padding: 1em 0;
  text-align: center;
}

.google-map {
  padding-bottom: 50%;
  position: relative;
  margin-bottom: 3em;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  margin: 0.5em 0;
  left: 0;
  top: 0;
  position: absolute;
  border: none;
}

.flat, .hill, .mountain, .glacier {
  border: 3px solid var(--charcoal);
  padding: 0.5em;
  color: #fff;
  border-radius: 10px;
}

.flat { background-color: var(--field); color: var(--charcoal);}
.hill { background-color: var(--hill); }
.mountain { background-color: var(--mountain); }
.glacier { background-color: var(--glacier); color: var(--charcoal);}

/* Mobile */
@media only screen and (max-width: 700px) {
  .home-what, .home-how {
    font-size: 1em;
    padding: 2.5em 10%;
    margin: auto 5%;
  }
  .home-heading { font-size: 1.2em; }
  .how-box { display: block; }
  .flat, .hill, .mountain, .glacier { margin: 0.5em; }
}
