.home-what, .home-how {
  color: var(--brown);
  font-size: 1.2em;
  font-weight: bold;
  padding: 2.5em 10%;
  max-width: 60ch;
  margin: auto;
}

.home-what {
  background-color: var(--glacier);
  margin-top: 1em;
  border: 4px solid var(--brown);
}

.home-heading {
  font-size: 1.8em;
  line-height: 2em;
}

.home-what p, .home-how p {
  line-height: 1.4em;
  padding: 0.5em 0;
}

.home-what a, .home-how a {
  text-decoration: none;
  color: var(--sky);
  font-weight: bold;
  border-bottom: 3px solid var(--sky);
  transition: 100ms;
}
  .home-what a:hover, .home-how a:hover {
    border-bottom: none;
    transition: 100ms;
  }

.how-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1.5em;
  grid-row-gap: 0px;
  padding: 1em 0;
  text-align: center;
}

.flat, .hill, .mountain, .glacier {
  border: 4px solid var(--brown);
  padding: 0.5em;
  color: #fff;
}

.flat { background-color: var(--field); color: var(--brown);}
.hill { background-color: var(--hill); }
.mountain { background-color: var(--mountain); }
.glacier { background-color: var(--glacier); color: var(--brown);}
