.masthead {
  width: 100%;
  background-image: url('../images/darktopo.jpg');
  background-repeat: repeat;
  box-shadow:inset 0 0 0 2000px rgba(33, 33, 33, 0.8);
  /* box-shadow:inset 0 0 0 2000px rgba(59, 118, 57, 0.1); */
  text-align: center;
  padding: 7em 0 9em 0;
  color: #fff;
}
.masthead-title {
  font-family: Explore, sans-serif;
  font-size: 5em;
}
.masthead-subtitle {
  font-size: 2em;
}

/* Mobile */
@media only screen and (max-width: 700px) {
  .masthead { margin-bottom: 1em; }
  .masthead-title { font-size: 2.5em; }
  .masthead-subtitle { font-size: 1.1em; }
}
