table {
  border-spacing: 0;
  width: 80%;
  margin: 1em auto 2em auto;
  border: 3px solid var(--charcoal);
  border-radius: 10px;
  font-size: 1.1em;
}

th {
  text-align: center;
  cursor: pointer;
  padding: 0.5em;
  background-color: var(--charcoal);
  color: #fff;
}

td {
  text-align: center;
  padding: 0.75em 0.5em;
}

td a {
  text-decoration: none;
  color: var(--hill);
  border-bottom: 2px dotted var(--hill);
}

tr:nth-child(even) {
  background-color: var(--glacier);
}

.rank-box {
  color: var(--charcoal);
  font-size: 1.2em;
  padding: 2em 0 1em 0;
  max-width: 60ch;
  margin: auto;
}

.rank-box p {
  line-height: 2em;
}

.rank-box li {
  margin: 0.7em 0;
}

.rank-box a {
  text-decoration: none;
  color: var(--hill);
  font-weight: bold;
  border-bottom: 2px solid var(--hill);
  transition: 100ms;
}
  .rank-box a:hover {
    border-bottom: none;
    transition: 100ms;
  }

.dimension {
  font-weight: bolder;
}

/* Mobile */
@media only screen and (max-width: 700px) {
  .rank-box {
    margin: 5%;
    font-size: 1em;
  }
  table {
    width: 90%;
    border: 2px solid var(--charcoal);
    font-size: 0.8em;
  }
  th, td {
    padding: 0.2em;
  }
}
