@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat.ttf");
}
@font-face {
  font-family: "Explore";
  src: url("../fonts/Explore.ttf");
}
@font-face {
  font-family: "UncutSans";
  src: url("../fonts/UncutSans.otf");
}
